@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', 'Open Sans', sans-serif !important;
    -webkit-tap-highlight-color: transparent;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-cetaceanBlue-100;
  }
  h1 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600; /* Semi-Bold */
  }
  h2 {
    font-size: 28px;
    font-weight: 600; /* Semi-bold */
  }
  h3 {
    font-size: 24px;
    font-weight: 600; /* Semi-Bold */
  }
  h4 {
    font-size: 20px;
    font-weight: 600; /* Semi-Bold */
  }
  h5 {
    font-size: 16px;
    font-weight: 600; /* Semi-bold */
  }
  h6 {
    font-size: 1rem;
    font-weight: 500; 
  }
  p {
    font-size: 1rem;
    @apply text-black-60;
  }

  .ms-focus-barbiePink {
    @apply focus:outline-none focus-within:ring-2 ring-barbiePink-60 ring-opacity-70 active:ring-opacity-100 focus-within:border-barbiePink-100;
  }

  .ms-focus-vividCerulean {
    @apply focus:outline-none focus-within:ring-2 ring-vividCerulean-60 ring-opacity-70 active:ring-opacity-100 focus-within:border-vividCerulean-100;
  }
}

@layer components {
  .mdx a{
    @apply text-vividCerulean-100 hover:underline focus:outline-none focus-visible:underline active:text-vividCerulean-80;
  }

  .content li {
    @apply my-1;
  }

  .content .github {
    @apply text-black-60 text-sm focus:outline-none hover:underline focus:underline;
  }

  .mdx h2 {
    font-size: 22px;
    font-weight: 500; /* Semi-bold */
    @apply pt-4 my-4;
  }

  .mdx h3 {
    font-size: 20px;
    font-weight: 600; /* Semi-Bold */
  }

  .mdx h4 {
    font-size: 18px;
    font-weight: 600; /* Semi-Bold */
  }

  .mdx h5 {
    font-size: 16px;
    font-weight: 600; /* Semi-bold */
  }

  .mdx h6 {
    font-size: 1rem;
    font-weight: 500; 
  }


  .mdx h1, .mdx h2, .mdx h3, .mdx h4, .mdx h5, .mdx h6, .mdx p, .mdx ul, .mdx ol {
    @apply mb-4 leading-6;
  }

  .mdx p, .mdx ul, .mdx ol {
    @apply text-black-85;
  }

  .mdx ul, .mdx ol {
    @apply pl-8;
  }

  .mdx ul {
    @apply list-disc;
  }

  .mdx ol {
    @apply list-decimal;
  }

}