@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply text-white-100 bg-barbiePink-60;
  }
  ::-moz-selection {
    @apply text-white-100 bg-barbiePink-60;
  }
  * {
    font-family: 'Inter', 'Open Sans', sans-serif !important;
    -webkit-tap-highlight-color: transparent;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-cetaceanBlue-100;
  }

  h1 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600; /* Semi-Bold */
  }

  h2 {
    font-size: 28px;
    font-weight: 600; /* Semi-bold */
  }

  h3 {
    font-size: 24px;
    font-weight: 600; /* Semi-Bold */
  }

  h4 {
    font-size: 20px;
    font-weight: 600; /* Semi-Bold */
  }

  h5 {
    font-size: 16px;
    font-weight: 600; /* Semi-bold */
  }

  h6 {
    font-size: 1rem;
    font-weight: 500; 
  }

  p {
    font-size: 1rem;
    @apply text-black-60;
  }

  .ms-focus-barbiePink {
    @apply focus:outline-none focus-within:ring-2 ring-barbiePink-60 ring-opacity-70 active:ring-opacity-100 focus-within:border-barbiePink-100;
  }

  .ms-focus-vividCerulean {
    @apply focus:outline-none focus-within:ring-2 ring-vividCerulean-60 ring-opacity-70 active:ring-opacity-100 focus-within:border-vividCerulean-100;
  }

  .normal-scroll {
    scroll-behavior: auto;
  }
}

@layer components {
  .citation-generator-button {
    @apply py-1 px-2 rounded-md border shadow-md hover:bg-gray-100 focus:outline-none focus-visible:ring ring-barbiePink-60 ring-offset-2 active:bg-gray-300;
  }

  .mdx blockquote {
    font-family: 'Open Sans', sans-serif !important;
    @apply relative p-4 italic text-gray-600 text-lg;
  }

  .mdx .stylistic-quote-mark {
    font-family: 'IM Fell French Canon SC', serif !important;
    @apply mr-2 absolute top-0 leading-none text-gray-300 -left-4 text-8xl opacity-40;
  }

  * .mdx .katex *{
    font-family: KaTeX_Main, Times New Roman, serif !important
  }
  .mdx a{
    @apply text-vividCerulean-100 cursor-pointer hover:underline focus:outline-none focus-visible:underline active:text-vividCerulean-80;
  }

  .mdx .anchor {
    @apply text-cetaceanBlue-100 font-extrabold active:text-vividCerulean-60;
  }

  .content li {
    @apply my-1;
  }

  .content .github {
    @apply text-black-60 text-sm focus:outline-none hover:underline focus:underline;
  }

  .mdx h2 {
    @apply pt-4 my-4;
    scroll-margin-top: 4rem;
    font-size: 22px;
    font-weight: 500; /* Semi-bold */
  }

  .mdx h3 {
    font-size: 20px;
    font-weight: 600; /* Semi-Bold */
  }

  .mdx h4 {
    font-size: 18px;
    font-weight: 600; /* Semi-Bold */
  }

  .mdx h5 {
    font-size: 16px;
    font-weight: 600; /* Semi-bold */
  }

  .mdx h6 {
    font-size: 1rem;
    font-weight: 500; 
  }

  .mdx h1, .mdx h2, .mdx h3, .mdx h4, .mdx h5, .mdx h6, .mdx p, .mdx ul, .mdx ol {
    @apply mb-4 leading-6;
  }

  .mdx p, .mdx ul, .mdx ol {
    @apply text-black-85;
  }

  .mdx ul, .mdx ol {
    @apply pl-4 md:pl-6;
  }

  .mdx ul {
    @apply list-disc list-inside;
  }

  .mdx ol {
    @apply list-none relative;
    counter-reset: count;
  }

  .mdx ol > li {
    @apply py-2 mb-2 pl-8
  }

  .mdx ol > li::before {
    @apply text-black-60 pl-4 md:pl-6 absolute left-0 font-bold overflow-hidden;
    content: counter(count);
    counter-increment: count;
  }

  /* md */
  @media (min-width: 768px) {      
    .mdx .anchor:before {
      @apply text-vividCerulean-100 absolute invisible cursor-pointer;
      margin-left: -1.5rem;
      max-width: 700px;
      content: '#';
    }

    .mdx .anchor:hover {
      @apply no-underline;
    }

    .mdx .anchor:hover:before {
      @apply visible no-underline;
    }

    .mdx .anchor:focus:before {
      @apply visible no-underline;
    }

    .mdx .anchor:focus {
      @apply no-underline text-cetaceanBlue-100;
    }

    .mdx .anchor:active:before {
      @apply text-vividCerulean-60;
    }
  }

  /* lg */
  @media (min-width: 1024px) {
    .mdx h2{
      scroll-margin-top: 0;
    }
  }
}


/* Prism */
pre[class*="language-"],
code[class*="language-"] *{
  @apply text-gray-800;
  text-shadow: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
  font-weight: 400;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  @apply border rounded-md text-sm py-2 px-4 m-4;
  overflow: auto;
  background: #f9fafb;
}

:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: #dc298d;
  background: #f9fafb;
}

.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700;
}

.token.punctuation {
  @apply text-gray-700;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function {
   @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #fbe3f0;
  box-shadow: inset 5px 0 0 #e76bac;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
/* Prism */
